*{
    box-sizing: border-box;
    font-family: Arial, Helvetica;
}
body {
    margin: 0;
    background-color: #ddd;
}
.topnav{
    overflow: hidden;
    background-color: #333;
}
.topnav p{
    float: left;
    display: block;
    text-align: center;
    padding-left: 14px;
    color: #F2F2F2;
}
.topnav a {
    position: relative;
    top: 15px;
    float: right;
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav strong{
    position: relative;
    top: -15px;
}
.content{
    background-color: #ddd;
    padding: 10px;
}
.column-left{
    float: left;
    width: 30%;
    padding: 100px;
}
.column-right {
    width: 70%;
    float: right;

}
.column-right img{
    border: 5px solid #333333;
    float: right;
}
.form-content{
    border: 5px solid #333333 ;
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
    width: 50%;
}
.footer{
    background-color: #f1f1f1;
    padding: 10px   ;
}