body {
    background-color: #385482;
    font-family: Arial;
}
.header{
    text-align: center;
    padding: 20px;
}
.content{
    position: relative;

    top: 30%;
}
.content-left{
    width: 30%;
    display: block;
    float: left;
    position: relative;
    left: 200px;
    top: 20%;
    font-size: large;

}
.content-right{
    width: 70%;
    display: block;
    float: right;

}
.login-banner{
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.form{
    padding: 20px;
    position: relative;
    flex-wrap: wrap;
}
.img{
    float: right;
    position: relative;
    right: 150px;
    border: 2px black;
    padding: 20px;
}
.hub{
    padding: 20px;
}
.content-right-s{
    padding-left: 20px;
    width: 60%;
    display: flex;

}
iframe{
    position: relative;
    top: 20px;
}
