body{
    background-color: #385482;
    font-family: Arial;
    text-align: center;
}
.header{
    background-color: #1852B5;
    border: beige;
    border-style: solid;
    border-width: 0.5px;
    width: 100%;


}
.content{
    position: absolute;
    padding: 20px;
    margin: 20px;
    left: 40%;
    background-color: #1852B5;
    border: beige;
    border-style: solid;
    border-width: 0.5px;


}
.main-content{
    background-color: #1852B5;
    border: beige;
    border-style: solid;
    border-width: 0.5px;

}